<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
	
		<title>Explore Blockchain</title>
	
		<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">
	
		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
	
		<!-- Custom styles for this template -->
		<link href="starter-template.css" rel="stylesheet">
	  </head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>
	<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #bce0f9; height: 20%;" >
		<a class="navbar-brand" href="/">BLOCKExplorer</a>
  
  
		<div class="collapse navbar-collapse" id="navbarsExampleDefault" >
		  <ul class="navbar-nav mr-auto ">
			<li class="nav-item active">
			  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/about">About</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Graphs
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				  <a class="dropdown-item" href="/showGraphsAllTime">Total circulating bitcoins </a>
				  <a class="dropdown-item" href="/showMarketPlaceAllTime">Market price</a>
				  <a class="dropdown-item" href="/showConfirmedTransaction">Confirmed transactions</a>
                  <a class="dropdown-item" href="/showSizeOfBlockchain">Size of blockchain</a>
				</div>
			  </li>
		  </ul>
		  <form class="form-inline my-2 my-lg-0" th:action="@{/getBlockOrTx}" method="post">
			<input class="form-control mr-sm-2" type="text" placeholder="Search for block or transaction" name="whatToShow" aria-label="Search">
			<button class="btn btn-outline-primary" type="submit">Search</button>
		  </form>
		</div>
	  </nav>
  
	  <main role="main" class="container">
		
<div class="container-fluid">
	<div class="row content">
	  <div class="col-sm-3 sidenav">
		<h4>Graphs Section</h4>
		<div>
			<small>Graphs represents the size of blockchain in some period of time.</small>
		</div>
		<div class="btn-group-vertical">
			<a th:href="@{/showConfirmedTransaction30}"> 
			<button type="button" class="btn btn-primary" th:ac> Last 30 days</button>
			</a>
			<a th:href="@{/showConfirmedTransaction60}"> 
			<button type="button" class="btn btn-primary">Last 60 days</button>
			</a>
			<a th:href="@{/showSizeOfBlockchain180days}"> 
				<button type="button" class="btn btn-primary">Last 180 days  </button>
			</a>
			<a th:href="@{/showSizeOfBlockchain1Year}"> 
			<button type="button" class="btn btn-primary">Last year</button>
			</a>
			<a th:href="@{/showConfirmedTransaction}"> 
			<button type="button" class="btn btn-primary">All time  </button>
			</a>

		</div>
		
	  </div>
  
	  <div class="col-sm-9" >
		<canvas th:if="${dataPointsList != null}" id="myChart" style="width:100%;max-width:8000px"></canvas>
		<canvas th:if="${dataPointsList3 != null}" id="myChart30" style="width:100%;max-width:8000px"></canvas>
		
	  </div>
	</div>
  </div>

<script th:inline="javascript">
/*<![CDATA[*/	
var dataPoints =  /*[[${dataPointsList}]]*/ 'beze';
var desc =  /*[[${description}]]*/ 'beze';
var lstX = []
var lstY = []
var i = 0;
if(dataPoints != null){
	dataPoints.forEach(function(item, index) {
		if(i==0 || index == dataPoints.length -1){
		const unixTimestamp = item.x

		const milliseconds = unixTimestamp * 1000 // 1575909015000

		const dateObject = new Date(milliseconds)
		console.log("uslo  "+ dateObject)
		const humanDateFormat = dateObject.toLocaleDateString() 
		lstX.push(humanDateFormat)
		lstY.push(item.y);}

		i+=1
		if(i == 100)
		{
			i = 0;
		}
		
	});
}

new Chart("myChart", {
  type: "line",
  data: {
    labels: lstX,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: lstY
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: desc,
      fontSize: 16
    },
    scales: {
      yAxes: [{ticks: {min: 0, max:lstY[-1]}}],
    }
  }
});

var xylst =  /*[[${dataPointsList3}]]*/ 'beze';
var desc1 =  /*[[${description3}]]*/ 'beze';var xLst3 = []
var yLst3 = []

if(xylst != null){
	xylst.forEach(function(item, index) {
		const unixTimestamp = item.x
		const milliseconds = unixTimestamp * 1000 // 1575909015000
		const dateObject = new Date(milliseconds)
		const humanDateFormat = dateObject.toLocaleDateString() 
		xLst3.push(humanDateFormat)
		yLst3.push(item.y);

	});
}
new Chart("myChart30", {
  type: "line",
  data: {
    labels: xLst3,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yLst3
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: desc1,
      fontSize: 16
    },
    scales: {
		y: {
        display: true,
        title: {
          display: true,
          text: 'BTC'
        }},
		
		xAxes: [{
                afterTickToLabelConversion: function(data){
                    var xLabels = data.ticks;

                    xLabels.forEach(function (labels, i) {
                        if (i % 20 != 0){
                            xLabels[i] = '';
                        }
                    });
                } 
            }]   
    }
  }
}); 

/*]]>*/
</script>
</main><!-- /.container -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>


