<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="20">

    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Explore Blockchain</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #dcb1fdac; height: 20%;" >
      <a class="navbar-brand" href="/">BLOCKExplorer</a>


      <div class="collapse navbar-collapse" id="navbarsExampleDefault" >
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mempool">Mempool</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Graphs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/showGraphsAllTime">Total circulating bitcoins </a>
              <a class="dropdown-item" href="/showMarketPlaceAllTime">Market price</a>
              <a class="dropdown-item" href="/showConfirmedTransaction">Confirmed transactions</a>
              <a class="dropdown-item" href="/showSizeOfBlockchain">Size of blockchain</a>

            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/getBlockOrTx}" method="post">
          <input class="form-control mr-sm-2" type="text" placeholder="Search for block or transaction" name="whatToShow" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
            <h5 class="form-control mr-sm-2" style="font-weight: bold;color:rgb(124, 124, 236); text-align: center">LATEST VALUE OF 1 BTC IS EQUAL AS</h5>
            <h5 class="form-control mr-sm-2" style="font-weight: bold;color:rgb(124, 124, 236);" name="1">EUR: [[${val.get("EUR").get("last")}]]</h5>
            <h5 class="form-control mr-sm-2" style="font-weight: bold;color:rgb(124, 124, 236);" name="1">HRK: [[${val.get("HRK").get("last")}]]</h5>
            <h5 class="form-control mr-sm-2" style="font-weight: bold;color:rgb(124, 124, 236);" name="1">USD: [[${val.get("USD").get("last")}]]</h5>
          </div>
          </div>
          <div class="card">
            <div class="card-body">
            <h5 class="form-control mr-sm-2" style="font-weight: bold;color:rgb(124, 124, 236); text-align: center">CHANGE HRK TO BTC</h5>
            <form th:action="@{/}" method="get">
            <input class="form-control mr-sm-2" style="font-weight: bold;color:rgb(124, 124, 236);" name="valueToChange" placeholder="FOR HRK AMOUNT"></input>
            <button class="btn btn-outline-primary" type="submit">CHANGE</button>
            </form>
            <h5 th:if="${change != null}" class="form-control mr-sm-2" style="font-weight: bold;color:rgb(124, 124, 236); text-align: center">[[${change}]] BTC</h5>
          </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;color:rgb(124, 124, 236);">Blockchain Info - OSS</h5>
              <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Blocks: </h6><p class="card-text" th:text="${blockchainInfo.blocks}"></p>
              <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Chain: </h6><p class="card-text" th:text="${blockchainInfo.chain}"></p>
              <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Best block hash: </h6><p class="card-text" th:text="${blockchainInfo.bestBlockHash}"></p>
              <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Difficulty: </h6><p class="card-text" th:text="${blockchainInfo.difficulty}"></p>
              <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Verification progress: </h6><p class="card-text" th:text="${blockchainInfo.verificationProgress}"></p>
              <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Chain work: </h6><p class="card-text" th:text="${blockchainInfo.chainWork}"></p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;color:rgb(124, 124, 236);">Network Info</h5>

              <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Balance:</h6><p class="card-text" th:text = "${balance}"></p>
              <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Pooled tx:</h6><p class="card-text" th:text = "${miningInfo.pooledTx}"></p>
              <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Network version:</h6><p class="card-text" th:text = "${netInfo.version}"></p>
              <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Protocol version:</h6><p class="card-text" th:text = "${netInfo.protocolVersion}"></p>
              <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Connections:</h6><p class="card-text" th:text = "${netInfo.connections}"></p>
              <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Relay fee:</h6><p class="card-text" th:text = "${netInfo.relayFee}"></p>
              <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Local services:</h6><p class="card-text" th:text = "${netInfo.localServices}"></p>
              <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Local relay:</h6><p class="card-text" th:text = "${netInfo.localRelay}"></p>

            </div>
          </div>
            <div class="card">
              <div class="card-body">
                <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Total bytes Recv:</h6><p class="card-text" th:text = "${netTotals.totalBytesRecv}"></p>
                <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Total bytes sent:</h6><p class="card-text" th:text = "${netTotals.totalBytesSent}"></p>
                <h6  style="font-weight: bold;color:rgb(124, 124, 236);">Time millis:</h6><p class="card-text" th:text = "${netTotals.timeMillis}"></p>
              </div>
            </div>
        </div>
        
        
      </div>
      </div>
      
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
